absl-py
aeppl
aesara
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arviz
astor
astroML
astropy
astroquery==0.4.6
asttokens
astunparse
async-timeout
attrs
autograd
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blinker
bokeh
Bottleneck
brotlipy
bs4==0.0.1
cachetools
certifi==2022.12.7
cffi
cftime
charset-normalizer
click
cloudpickle
colorama
cons
contourpy
corner
cryptography
cycler
debugpy
decorator
defusedxml
emcee
entrypoints
etuples
executing
fastjsonschema
fastprogress
fbpca==1.0
filelock
flatbuffers
flit_core
fonttools
frozenlist
future
gast==0.3.3
gatspy==0.3
google-auth
google-auth-oauthlib
google-pasta==0.2.0
graphviz==0.20.1
grpcio
h5py
html5lib
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jaraco.classes
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
Keras
Keras-Preprocessing
keyring
kiwisolver
lightkurve==1.11.3
logical-unification
Markdown
MarkupSafe
matplotlib
matplotlib-inline
memoization
miniKanren
mistune
mock
more-itertools
multidict
multipledispatch==0.6.0
munkres==1.1.4
nbclassic
nbclient